body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: rgb(44, 77, 227);
    text-decoration: none;
    
}
a:visited{
color:red;
}

a:hover{
    text-decoration: underline;
color: black;
}
a:active{
    color: yellow;
}
a::after{
    content: " ";
    text-decoration: none;
    font-weight: normal;
    color: red;

}
a::before{
    content: "";
}
.especial::before{
    content: "» ";
}
.especial::after{
    content: " «";
}
.especial{
    background-color: rgb(60, 60, 234);
width: 150px;
}
