body{
    background-image: url(imagens/wallpaper001.jpg);
}

.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: aqua;
}
.quadrado:hover{
    background-color:  blueviolet;
}
#q1{
    background-color: crimson;
}
#q2{
    background-image: linear-gradient(to bottom, yellow,red) ;
    
}
#q3{
    background-image: url(imagens/pattern001.png);
    
}